body {
	background-color: #7f007f;
}

h1 {
	color: #FFF;
	margin-bottom: 20px;
}

#content {
	width: 600px;
	margin: auto;
	margin-top: 100px;
	text-align: center;
}

input.to-short {
	width: 300px;
}

.shorturl {
	color: #FF69B4;
	font-weight: bold;
	font-size: 20px;
}